*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

header{
    background-color: rgb(52, 52, 253);
    color: white;
    padding: 15px;
    text-align: center;
}

.main_section{
    display: flex;
    flex-direction: row;
    min-height: 81vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input{
    align-items: center;
    text-align: center;
}

#quantidade{

    text-align: center;
    width: 160px;
    height: 48px;
}


fieldset{
    border-radius: 10px;
    padding: 100px;
}

footer{
    
    background-color: rgb(255, 255, 52);
    text-align: center;
    padding: 15px;
}